.MainText {
    color: grey;
    text-align: center;
}

.KievWeather {
    display: flex;
    flex-direction: column;
}
.day__blocks {
    display: flex;
    justify-content: space-around;
}

.btnHide {
    display: flex;
    width: 100px;
}

.btnShow {
    display: flex;
    width: 100px;
}
